<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Algolia_CustomAlgolia>
            <version>0.1.0</version>
        </Algolia_CustomAlgolia>
    </modules>
    <global>
        <events>
            <!--
             * Documentation: https://community.algolia.com/magento/doc/m1/customize-backend/
             * List of extension's events: https://community.algolia.com/magento/doc/m1/backend/
            -->
            <algolia_products_index_before_set_settings>
                <observers>
                    <algolia_customalgolia>
                        <class>algolia_customAlgolia_model_observer</class>
                        <method>updateProductsSettings</method>
                    </algolia_customalgolia>
                </observers>
            </algolia_products_index_before_set_settings>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <algolia_customalgolia_layout module="Algolia_CustomAlgolia">
                    <file>customalgolia.xml</file>
                </algolia_customalgolia_layout>
            </updates>
        </layout>
    </frontend>
</config>
